#!/bin/sh 
# vim: set ts=2 sw=2 sts=2 et si ai syntax=sh: 

# setEnvironment.rc
# =
# 2010, Hewlett-Packard Company
# Andres Aquino <aquino@hp.com>
# All rights reserved.
# 

# set environment
APP_HOME="${HOME}/Dropbox/hp.com/ShellTemplate.git"
APP_NAME="ShellTemplate"
APP_KEYF="${APP_HOME}/ShellTemplate.key"

JAVA_HOME="/opt/java6"
JAVA_VM="-server"
VM_MEMARGS="-Xms512m -Xmx512m -XX:PermSize=64m -XX:+DisableExplicitGC -Xverbosegc:file=${APP_HOME}/logs/${APP_NAME}.log"
CLASSPATH=$APP_HOME/lib/log4j-1.2.8.jar:.

ORACLE_HOME="/oracle/app/oracle/product/10.2.0.3"
NLS_LANG="AMERICAN_AMERICA.WE8ISO8859P1"

export ${ORACLE_HOME} ${NLS_LANG} ${JAVA_HOME} ${JAVA_VM} ${CLASSPATH}



# functions
# use openssl for encrypt/decrypt information
getUserInformation () {
  info=`openssl enc -d -aes256 -salt -pass file:${APP_KEYF} -in ${APP_HOME}/${1}`
  user=${info%@*}
  pasw=${info#*@}

}



#
