#!/bin/sh 
# vim: set ts=2 sw=2 sts=2 et si ai syntax=sh: 

# javaEnvironment.rc
# =
#
# Andres Aquino <aquino(at)hp.com>
# Hewlett-Packard Company
# 

# application's environment
APHOME="${HOME}/ShellTemplate"
APNAME="ShellTemplate"

java_environment ()
{
  # Language
  LANG=es_MX.iso88591

  # java's environment
  JAVA_FLAGS=

  # Initial and Maximum size of the Java Heap
  JAVA_FLAGS="${JAVA_FLAGS} -Xms512m"
  JAVA_FLAGS="${JAVA_FLAGS} -Xmx512m"

  # Size of the heap reserved for the permanent generation hold
  JAVA_FLAGS="${JAVA_FLAGS} -XX:PermSize=64m"
  JAVA_FLAGS="${JAVA_FLAGS} -XX:MaxPermSize=128m"

  # HeapDump
  JAVA_FLAGS="${JAVA_FLAGS} -XX:+HeapDumpOnCtrlBreak"
  JAVA_FLAGS="${JAVA_FLAGS} -XX:HeapDumpPath=${APPATH}/logs/${APNAME}-${APTIME}.hprof"

  # Garbage Collector
  JAVA_FLAGS="${JAVA_FLAGS} -XX:+DisableExplicitGC"
  JAVA_FLAGS="${JAVA_FLAGS} -XX:file=${APHOME}/logs/${APNAME}-${APTIME}.gc"

  # Java Security Policy
  JAVA_FLAGS="${JAVA_FLAGS} -Djava.security.policy=${APHOME}/java.policy"

}

java_classpath ()
{
  # Java Classes
  JAVA_CLASSPATH="."
  for classfile in ${APHOME}/libs/*.jar
  do
    JAVA_CLASSPATH="${classfile}:${JAVA_CLASSPATH}"
  done

  export CLASSPATH="${JAVA_CLASSPATH}:."

}


#
