#!/bin/sh 
# vim: set ts=2 sw=2 sts=2 et si ai syntax=sh: 

# setEnvironment.rc
# =
#
# Andres Aquino <aquino(at)hp.com>
# Hewlett-Packard Company
# 

# application's environment
AP_HOME="${HOME}/ShellTemplate"
AP_NAME="ShellTemplate"
AP_KEYF="${AP_HOME}/private.key"

set_java_environment ()
{
  # Language
  LANG=es_MX.iso88591

  # java's environment
  JAVA_FLAGS=

  # Initial and Maximum size of the Java Heap
  JAVA_FLAGS="${JAVA_FLAGS} -Xms512m"
  JAVA_FLAGS="${JAVA_FLAGS} -Xmx512m"

  # Size of the heap reserved for the permanent generation hold
  JAVA_FLAGS="${JAVA_FLAGS} -XX:PermSize=64m"
  JAVA_FLAGS="${JAVA_FLAGS} -XX:MaxPermSize=128m"

  # HeapDump
  JAVA_FLAGS="${JAVA_FLAGS} -XX:+HeapDumpOnCtrlBreak"
  JAVA_FLAGS="${JAVA_FLAGS} -XX:HeapDumpPath=${AP_PATH}/logs/${AP_NAME}-${AP_TIME}.hprof"

  # Garbage Collector
  JAVA_FLAGS="${JAVA_FLAGS} -XX:+DisableExplicitGC"
  JAVA_FLAGS="${JAVA_FLAGS} -XX:file=${AP_HOME}/logs/${AP_NAME}-${AP_TIME}.gc"

  # Java Security Policy
  JAVA_FLAGS="${JAVA_FLAGS} -Djava.security.policy=${AP_HOME}/java.policy"

}

set_java_classpath ()
{
  # Java Classes
  JAVA_CLASSPATH="."
  for classfile in ${AP_HOME}/libs/*.jar
  do
    JAVA_CLASSPATH="${classfile}:${JAVA_CLASSPATH}"
  done

  export CLASSPATH="${JAVA_CLASSPATH}:."

}

#
# functions
# use openssl for encrypt/decrypt information
get_user () {
  info=`openssl enc -d -aes256 -salt -pass file:${AP_KEYF} -in ${AP_HOME}/${1}`
  echo ${info%@*}

}

get_password () {
  info=`openssl enc -d -aes256 -salt -pass file:${AP_KEYF} -in ${AP_HOME}/${1}`
  echo ${info#*@}

}


#
